
<div class="contenedor">
    <h2>Crear usuario</h2>
    <form [formGroup]="userForm">
      
      <lib-input type="text" placeholder="Nombre" formName="firstName" ></lib-input>
      <lib-input formName="lastName" type="text" placeholder="Apellidos"></lib-input>
      <lib-input formName="email" type="text" placeholder="Email"></lib-input>
      <lib-input formName="password" type="password" placeholder="Contraseña"></lib-input>
      <label class="checkbox">
      <input type="checkbox" >
        He leído y acepto la Política de Privacidad
      </label>
      <label class="checkbox">
        <input type="checkbox" >
        Sí, acepto recibir comunicaciones comerciales y ofertas personalizadas según mi perfil.
      </label>
      <lib-button type="submit" (BtnClickEmt)="onSubmit()" >Crear</lib-button>
    </form>
  </div>