
<div class="contenedor">
    <h2>Crear usuario</h2>
    <form>
      
      <lib-input [formGroup]="userForm" name="name" type="text" placeholder="Nombre"></lib-input>
      <lib-input [formGroup]="userForm" name="lastname" type="text" placeholder="Apellidos"></lib-input>
      <lib-input [formGroup]="userForm" name="email" type="text" placeholder="Email"></lib-input>
      <lib-input [formGroup]="userForm" name="password" type="password" placeholder="Contraseña"></lib-input>
      <lib-checkbox text="He leído y acepto la Política de Privacidad"></lib-checkbox>
      <lib-checkbox text="Sí, acepto recibir comunicaciones comerciales y ofertas personalizadas según mi perfil"></lib-checkbox>
      <lib-button type="reset" (BtnClickEmt)="onSubmit()" >Crear</lib-button>
    </form>
  </div>