div{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    background-image: linear-gradient(to top, red, blue);
}

.right{
    
    background-color: gray;
}
img{
    width: 12.6875rem;
    height: 20.625rem;
    flex-grow: 0;
    object-fit: contain;
    }