div{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    background-image: linear-gradient(to top, var(--red-red-500), var(--red-red-600));
}

.right{
    
    background-color: var(--gray-50);
}
img{
    width: 12.6875rem;
    height: 20.625rem;
    flex-grow: 0;
    object-fit: contain;
    }